@*@model IEnumerable<StoreManagement.Model.Customer>
*@
@model System.Data.DataTable

@{
    ViewData["Title"] = "CustomersByLastname";
}

<h2>Report Customers By Lastname</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Lastname)*@
                    Lastname
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Firstname)*@
                    Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Address)*@
                    Address
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Email)*@
                    Email
                </th>
                <th>
                    Phone
                    @*@Html.DisplayNameFor(model => model.Phone)*@
                </th>
                <th>
                    Code
                    @*@Html.DisplayNameFor(model => model.CustomerCode)*@
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>
                        @cell.ToString()
                    </td>
                }
            </tr>

        }
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}*@
    </tbody>
</table>
