@*@model IEnumerable<StoreManagement.Model.User>*@
@model System.Data.DataTable
@{
    ViewData["Title"] = "UsersCustomers";
}

<h2>Report Users with same name and Lastname of Customers </h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Firstname
                    @*@Html.DisplayNameFor(model => model.Firstname)*@
                </th>
                <th>
                    Lastname
                    @*@Html.DisplayNameFor(model => model.Lastname)*@
                </th>
                <th>
                    Username
                    @*@Html.DisplayNameFor(model => model.UserName)*@
                </th>
                <th>
                    Email
                    @*@Html.DisplayNameFor(model => model.Email)*@
                </th>
                <th>
                    Phone
                    @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>
                        @cell.ToString()
                    </td>
                }
            </tr>

        }
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
}*@
    </tbody>
</table>
